.pageIntroContainer {
    background-color: var(--accent3);
    position: relative;
    height: 90vh;
    margin-bottom: 15rem; 
}

.content {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 100%;
}

.headingCopy {
    border: 2px solid var(--accent2);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 3rem;
    position: relative;
}

.headingCopy:after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 200px;
    height: 200px;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    background-color: var(--accent3);
}

.headingCopy:before {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 200px;
    height: 200px;
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
    background-color: var(--accent3);
}

.imgContainer {
    z-index: 2;
    position: absolute;
    height: 100%;
    width:100%;
    background: linear-gradient(to bottom, rgb(123, 8, 255, 0.2), rgb(123, 8, 255, 0.8));
    /* background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)); */
}

.img {
    z-index: 1;
}

.heading {
    font-family: "TekoRegular";
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--accent2);
    text-align: center;
    line-height: 1;
    z-index: 3;
}

.heading span {
    font-family: "TekoRegular";
    color: var(--accent2); 
}

.copy {
    width: 60%;
    color: var(--accent4);
    font-family: "TekoLight";
    letter-spacing: .8px;
    text-align: center;
    font-size: 3rem;
    z-index: 3;
    margin-top: -2rem;
}


@media screen and (max-width: 868px) {
    .content {
        gap: 2rem
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding: 3rem;
    }
    
    .copy {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .content {
        padding: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .content {
        padding: 2rem;
    }
}