.sectionContainer {
    margin-bottom: 15rem;
}

.content {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem; 
    position: relative;
    z-index: 1;
}

.heading {
    font-family: "TekoRegular";
    text-align: center;
    color: var(--accent1);
}

.leftRightContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--accent4);
    border: 1px solid var(--accent5);
    padding: 5rem;
    position: relative;
}

.leftRightContainer:after {
    content: '';
    z-index: -1;
    position: absolute;
    top: -25px;
    right: -25px;
    width: 250px;
    height: 40%;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background-color: var(--accent5);
}

.right {
    flex: 1;
}

.info {
    padding: 3rem;
}

@media screen and (max-width: 968px) {
  .leftRightContainer {
      flex-direction: column;
  }

.imgContainer {
    padding-right: 0rem;
}

.imgContainer::after {
    width: 0%;
    height: 0%;
}

.info {
    padding: 0rem;
 }
}

@media screen and (max-width: 768px) {
    .content, .leftRightContainer {
        padding: 3rem;
    }
    
}

@media screen and (max-width: 568px) {
    .content, .leftRightContainer {
        padding: 1rem;
    }
}