.reviewsContainer {
    margin-bottom: 15rem;
}

.content {
    padding: 5rem;
}

.reviewBoxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

.reviewBoxes h3 {
    text-transform: capitalize;
    font-family: "TekoRegular";
    margin-top: 2rem;
}

.reviewBoxes p {
    font-size: 1.5rem;
    text-align: center;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    font-size: 0;
    width: 200px;
    height: 200px;
    border: 3px solid var(--accent5);
}


@media screen and (max-width: 950px) {
    .reviewBoxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
    }  
}

@media screen and (max-width: 580px) {
    .content {
        padding: 2rem;
    }

    .reviewBoxes {
        grid-template-columns: repeat(1, 1fr);
    }
}