.contactSectionContainer {
    margin-bottom: 15rem;
    background-color: var(--accent3);
}

.content {
    padding: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
}

.left {
    flex: 1;
}

.heading {
    font-family: "TekoRegular";
    color: var(--accent4);
}

.heading span {
    font-family: "TekoRegular";
    color: var(--accent2)
}

.copy {
    font-family: "MontserratBold";
    font-size: 1.8rem;
    color: var(--accent4);
}

.right {
    flex: 2;
}

.contactForm {
    position: relative;
    padding: 7rem 5rem;
    background: var(--accent2);
    color:  var(--accent1);
}

.contactForm h2 {
    font-size: 2.4rem;
    font-weight: 500;
    
}

.formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.inputBox50 {
    position: relative;
    width: 47%;
}

.inputBox50:nth-child(1),
.inputBox50:nth-child(2) {
    margin-bottom: 3.5rem;
}

.inputBox50:nth-child(3),
.inputBox50:nth-child(4) {
    margin-bottom: 2rem;
}

.inputBox100 {
    width: 100%;
    margin-bottom: 2rem;
}

.inputBox100 textarea {
    width: 100%;
    resize: none;
    height: 100px;
}

.inputBox50 input,
.inputBox100 textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--accent1);
    background-color: var(--accent2);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--accent1);
}

.inputBox100 textarea {
    margin-bottom: 3rem;
}

.formBox label {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 1.8rem;
    font-weight: 300;
    transition: 0.3s;
    color: rgba(57, 54, 49, 0.3);
}

.inputBox50 input:focus~label,
.inputBox50 input:valid~label,
.inputBox100 textarea:focus~label,
.inputBox100 textarea:valid~label {
    transform: translateY(-20px);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--accent3);
    font-weight: 500;
}


.icon2 {
    color: var(--accent1);
    position: relative;
    top: 8px;
    left: -10px;
    font-size: 2.6rem;
}

.msg {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--accent1);
}

@media screen and (max-width: 900px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .contactForm,
    .contactInfo {
        width: 100%;
        height: auto;
    }

    .contactInfo {
        flex-direction: row;
    }

    .contactInfo h2 {
        text-align: center;
}

    .sci {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .contactForm {
        padding: 2.5rem;
    }

    .contactInfo {
        padding: 2.5rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .sci {
        margin-top: 4rem;
    }

    .inputBox50 {
        width: 100%;
    }

    .btnContainer {
        margin-bottom: 3rem;
        padding: 0 2rem;
        position: relative;
        left: -16px;
    }
}

@media screen and (max-width: 568px) {
    .content {
        padding: 2rem;
    }
}

@media screen and (max-width: 532px) {
    .msg {
        position: relative;
        left: 10px;
    }
}



@media screen and (max-width: 480px) {

     .btnContainer {
         width: 100%;
     }
}