.contactSectionContainer {
    margin-bottom: 15rem;
    border: 2px solid var(--accent5)
}

.content {
    padding: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
}

.left {
    flex: 1;
}

.heading {
    font-family: "TekoRegular";
    color: var(--accent1);
}

.heading span {
    font-family: "TekoRegular";
    color: var(--accent5)
}

.copy {
    font-family: "MontserratBold";
    font-size: 1.8rem;
    color: var(--accent1);
    width: 80%;
}

.iconBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.iconBox p {
    cursor: pointer;
    color: var(--accent5);
}

.icon {
  font-size: 2rem;
  position: relative;
  top: 5px;
  margin-right: 1rem;
  color: var(--accent5);
}

.socials {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
    cursor: pointer;
}

.socialIcon {
    color: var(--accent5)
}

.right {
    flex: 1;
}

.contactForm {
    position: relative;    
}

.formBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.inputBox50 {
    position: relative;
    width: 100%;
}

.inputBox50:nth-child(1),
.inputBox50:nth-child(2) {
    margin-bottom: 3.5rem;
}

.inputBox50:nth-child(3),
.inputBox50:nth-child(4) {
    margin-bottom: 2rem;
}

.inputBox100 {
    width: 100%;
    margin-bottom: 2rem;
}

.inputBox100 textarea {
    width: 100%;
    resize: none;
    height: 100px;
}

.inputBox50 input,
.inputBox100 textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--accent4);
    background-color: var(--accent4);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--accent5);
}

.inputBox100 textarea {
    margin-bottom: 3rem;
}

.formBox label {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 1.8rem;
    font-weight: 300;
    transition: 0.3s;
    color: rgba(57, 54, 49, 0.3);
}

.inputBox50 input:focus~label,
.inputBox50 input:valid~label,
.inputBox100 textarea:focus~label,
.inputBox100 textarea:valid~label {
    transform: translateY(-20px);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--accent3);
    font-weight: 500;
}

.icon2 {
    color: var(--accent1);
    position: relative;
    top: 8px;
    left: -10px;
    font-size: 2.6rem;
}

.msg {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--accent1);
}

@media screen and (max-width: 900px) {
    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .copy {
        width: 100%;
    }

    

    .socials {
        margin-top: 2rem;
    }

    .right {
        width: 100%;
    }
}

@media screen and (max-width: 568px) {
    .content {
        padding: 3rem;
    }

    .heading, .copy {
        text-align: center;
    }

    .copy {
        width: 100%;
    }

    .iconBox {
       align-items: center; 
    }
}

@media screen and (max-width: 532px) {
    .msg {
        position: relative;
        left: 10px;
    }
}

@media screen and (max-width: 480px) {
    .content {
        padding: 2rem;
    }
}