.heroContainer {
    margin-bottom: 15rem;
    background-color: var(--accent3);
}

.content {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-family: "TekoRegular";
    color: var(--accent4);
    margin-top: 20rem;
    text-align: center;
}

.heading span {
    font-family: "TekoRegular";
    color: var(--accent2);
    
}

.copy {
    width: 60%;
    color: var(--accent4);
    text-align: center;
    font-size: 1.8rem;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 4rem;
    margin-bottom: 20rem;
}

@media screen and (max-width: 768px) {
    .copy {
        width: 100%;
    }
}

@media screen and (max-width: 630px) {
    .btnContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}