.heroContainer {
    background-color: var(--accent3);
    position: relative;
}

.content {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgContainer {
    z-index: 2;
    position: absolute;
    height: 100%;
    width:100%;
    background: linear-gradient(to bottom, rgb(123, 8, 255, 0.2), rgb(123, 8, 255, 0.8));
    /* background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)); */
}

.img {
    z-index: 1;
}

.heading {
    font-family: "TekoRegular";
    font-size: 7rem;
    color: var(--accent4);
    text-align: center;
    line-height: 1;
    z-index: 3;
}

.heading span {
    font-family: "TekoRegular";
    color: var(--accent2); 
}

.copy {
    width: 60%;
    color: var(--accent4);
    font-family: "TekoMedium";
    text-align: center;
    font-size: 2.7rem;
    z-index: 3;
    margin-top: -2rem;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 1rem;
    z-index: 3;
    margin-bottom: 5rem;
}


@media screen and (max-width: 768px) {
    .copy {
        width: 100%;
    }
}

@media screen and (max-width: 630px) {
    .btnContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 3rem;
    }
}