.header {
    color: var(--accent1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    color: var(--accent4);
}

.navRight {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.navLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.navbarLogo a {
    font-size: 2.5rem;
    font-family: "TekoBold";
    transition: all 200ms ease;
}

.copy {
    hyphens: auto;
}

.socials {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    cursor: pointer;
}

.socialIcon {
    color: var(--accent4);
    transition: all 200ms ease;
}

.navmenu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.navItem {
    margin-left: 3.5rem;
    font-size: 2rem;
    list-style: none;
    cursor: pointer;
}

.navItem:nth-child(1) {
    margin-left: 0rem;
}

.navbarLogo a:hover, .navItem a:hover, .navItem:hover, .socialIcon:hover  {
    color: var(--accent2);
    transition: all 200ms ease;
}

.navItem a {
   font-family: "TekoRegular";
   transition: all 200ms ease;
}

.phone {
    color: var(--accent4);
}

.activeRouter {
    position: relative;
    text-transform: uppercase;
}

.activeRouter a {
    font-family: "TekoBold";
}

.activeRouter::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    border-radius: 8px;
    background-color: var(--accent4);
}

@media screen and (max-width: 1068px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navLeft {
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    .navRight {
        display: flex;
        justify-content: flex-end;
        gap: 3rem
    }

    .phoneContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .activeRouter::after {
        height: 5px;
    }
}

@media screen and (max-width: 675px) {
     .navbar {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
     .navmenu {
         flex-wrap: wrap;
     }

     .navItem {
         margin-top: 2rem;
         margin-left: 2rem;
     }
}
