.container {
    position: relative;
    z-index: 1;
}

.btn {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-family: "MontserratBold";
    font-size: 1.6rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding: 15px 45px;
    z-index: 5;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.primary {
     background-color: var(--accent2);
     border: solid 2px var(--accent2);
     color: var(--accent1);
     position: relative;
 }

 .primaryOutline2 {
     background-color: transparent;
     border: 2px solid var(--accent2);
     color: var(--accent2);
 }

 .tertiary {
     background-color: var(--accent5);
     color: var(--accent4);
     border: solid 2px var(--accent5);
 }

 @media screen and (min-width: 481px) {

     .primary:hover {
         background-color: var(--accent4);
         border: 2px solid var(--accent4);
         color: var(--accent1);
         transition: all 0.3s ease-in-out;
     }

     .primaryOutline2:hover {
         background-color: var(--accent2);
         border: 2px solid var(--accent2);
         color: var(--accent1);
         transition: all 0.3s ease-in-out;
     }

     .tertiary:hover {
         background-color: var(--accent4);
         border: 2px solid var(--accent5);
         color: var(--accent5);
         transition: all 0.3s ease-in-out;
     }
 }

 @media screen and (max-width: 768px) {
     .btn {
     font-size: 1.85rem;
    }
 }

 @media screen and (max-width: 630px) {
    .container {
        width: 100%;
    } 
    
    .primary:active {
        background-color: var(--accent4);
        color: var(--accent3);
    }

    .primaryOutline2:active {
        background-color: var(--accent3);
        color: var(--accent4);
    }
 }

 
