.aboutSectionContainer {
    margin-bottom: 15rem;
}

.top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
}

.top::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: -90px;
    width: calc(50% + 50px);
    height: 100%;
    background-color: var(--accent2);
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);

}

.sectionHeading {
    font-family: "TekoRegular";
}

.bottom {
    padding: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
}

.bottomLeft, .bottomRight {
    flex: 1;
}

.bottomLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    color: var(--accent1);
}

.bottomLeft h3 {
    text-transform: capitalize;
    font-family: "TekoRegular";
}

.bottomLeft p {
    hyphens: auto;
}

.btnContainer {
    display: flex;
    margin-top: 1rem;
}

.bottomRight {
    position: relative;
    z-index: 1;
}

.imgOverlay {
    z-index: 2;
    position: absolute;
    height: 100%;
    width:100%;
    background: linear-gradient(to bottom, rgb(123, 8, 255, 0.2), rgb(123, 8, 255, 0.8));
}

.imgContainer {
    height: 400px;
    position: relative;
}

.bottomRight h4 {
    position: absolute;
    z-index: 2;
    padding: 5rem;
    padding-bottom: 0;
    font-family: "TekoRegular";
    text-transform: uppercase;
    color: var(--accent4);
    font-size: 3rem;
}

@media screen and (max-width: 768px) {
    .bottom {
        flex-direction: column;
        align-items: center;
    }

    .imgContainer {
        width: calc(100vw - 190px);
    }

    .bottomRight h4 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 630px) {
    .bottom {
        padding: 2rem;
    }

    .bottomRight h4  {
        text-align: center;
        margin-top: 7rem;
    }
    
    .bottomLeft {
        align-items: center;
    }

    .imgContainer {
        width: calc(100vw - 140px);
    }
}

@media screen and (max-width: 568px) {
    .imgContainer {
        width: calc(100vw - 75px);
    }
}

@media screen and (max-width: 480px) {
    .bottom {
        padding: 0rem;
    }

    .imgContainer {
        width: calc(100vw - 40px);
    }
}