.questionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    border: 2px solid var(--accent5);
    padding: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
    background-color: var(--accent4);
    color: var(--accent5);
}

.questionContainer:nth-child(5) {
    margin-bottom: 0rem;
}

.questionContainer:hover, .active {
    background-color: var(--accent5);
    border-color: var(--accent5);
    color: var(--accent4);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.question {
    font-family: "TekoRegular";
    font-size: 3rem;
}

.btn {
    font-size: 3rem;
    cursor: pointer;
    margin-left: 1rem;
}

.answer {
    hyphens: auto;
    color: var(--accent4);
    font-size: 1.5rem;
}