.miscContainer {
    margin-bottom: 15rem;
    filter: url('#goo');
}

.content {
    position: relative;
}

.imgContainer {
    height: 550px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 50% 100%, 0% 60%);
}

.imgContainer::after {
    content: '';
    position: absolute;
    height: 550px;
    width:100%;
    background: linear-gradient(to bottom, rgb(123, 8, 255, 0.2), rgb(123, 8, 255, 0.8));
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 50% 100%, 0% 60%);
}

.infoBoxContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0rem;
    padding: 2rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--accent1);
    /* filter: url('#goo'); */
}

.infoBox {
    position: relative;
    z-index: 10;
    background-color: var(--accent2);
    height: 495px;
    width: 100%;
    padding: 5rem;
    clip-path: polygon(0% -1000%, 99% 0%, 99% 58%, 50% 99%, 1% 58%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.infoBox h3 {
    z-index: 2;
    font-family: "TekoRegular";
}

.infoBox p {
    font-size: 1.5rem;
    text-align: center;
}

.btnContainer {
    display: flex;
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .infoBox {
        padding: 3rem;
    }

    .imgContainer {
        height: 450px;
    }

    .imgContainer::after {
        height: 450px;
    }

    .infoBox {
        height: 395px;
    }
}

@media screen and (max-width: 568px) {
    .infoBox {
        padding: 2rem;
    }

    .imgContainer {
        height: 400px;
    }

    .imgContainer::after {
        height: 400px;
    }

    .infoBox {
        height: 345px;
    }
}

@media screen and (max-width: 480px) {
    .infoBox {
        padding: 1rem;
    }
}

