.heroContainer {
    background-color: var(--accent3);
    position: relative;
    margin-bottom: 15rem;
}

.imgOverlay {
    z-index: 2;
    position: absolute;
    height: 100%;
    width:100%;
    background: linear-gradient(to bottom, rgb(123, 8, 255, 0.2), rgb(123, 8, 255, 0.8));
    /* background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)); */
}

.content {
    padding: 5rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.heading {
    font-family: "TekoRegular";
    font-size: 8rem;
    color: var(--accent4);
    text-align: center;
    line-height: 100%;
    z-index: 3;
}

.heading span {
    font-family: "TekoRegular";
    color: var(--accent2); 
}

.copy {
    /* width: 60%; */
    color: var(--accent4);
    font-family: "TekoLight";
    letter-spacing: .8px;
    text-align: center;
    font-size: 3rem;
    z-index: 3;
    margin-top: -5rem;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    z-index: 3;
}

@media screen and (max-width: 868px) {
    .content {
        gap: 2rem
    }
}

@media screen and (max-width: 768px) {
    .copy {
        width: 100%;
    }
}

@media screen and (max-width: 630px) {
    .btnContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .content {
        padding: 3rem;
    }

    .copy {
        line-height: 140%;
    }
}

@media screen and (max-width: 320px) {
    .content {
        padding: 2rem;
    }
}