.servicesBoxes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    gap: 3rem;
    z-index: 2;
}

.bx1 {
    padding: 3rem 4rem;
    border: 2px solid var(--accent2);
    color: var(--accent2);
    position: relative;
}

.bx1:nth-child(1):after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 35%;
    left: -25px;
    width: 250px;
    height: 75%;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: var(--accent3);
}

.bx1:nth-child(3):after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 35%;
    right: -25px;
    width: 250px;
    height: 75%;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: var(--accent3);
}

.bx1:nth-child(2) {
    background-color: var(--accent2);
    color: var(--accent1);
    z-index: 10;
}

.servicesBoxes h3 {
    font-family: "TekoRegular";
    font-size: 3.2rem;
}

.servicesBoxes p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.servicesBoxes h4 {
    font-size: 2.5rem;
    font-family: "TekoRegular";
}

@media screen and (max-width: 968px) {
    .servicesBoxes {
        flex-direction: column;
        align-items: center;
        padding: 5rem 3rem;
        gap: 4rem;
    }

    .bx1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .servicesBoxes p {
        text-align: center;
        font-size: 2rem;
    }
}

@media screen and (max-width: 568px) {
    .bx1 {
        padding: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .bx1 {
        padding: 1rem;
    }

    .bx1:nth-child(1):after {
        top: -20px;
        left: -20px;
        width: 70%;
        clip-path: polygon(100% 0, 0 0, 0 100%);
    }

    .bx1:nth-child(3):after {
        right: -20px;
        width: 70%;
    }
}
